#notice {
  color: green;
}
.field_with_errors {
  padding: 2px 4px;
  background-color: #931717;
  display: table;
  color: #000;
}
#error_explanation {
  width: 375px;
  border: 2px solid #931717;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #ddd;
  color: #000;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #ccc;
    color: #000;
  }
  ul li {
    font-size: 14px;
    list-style: disc;
  }
}
.flash {
  background-color: #ccc;
  width: 400px;
  font-size: 14px;
  font-family: arial;
  padding: 4px 8px;
}

